.idea/*
*.egg-info/
**/__pycache__/
.vector_cache/
.ipynb_checkpoints/
save/
**venv
data/datasets/audiocaptionmidi/audio/
data/datasets/audiocaptionmidi/midi/
data/datasets/audiocaptionmidi/basic-pitch-output/
ckpt/
core